.team-container {
  display: flex;
}

.team-member {
  height: 100px;
  width: 100px;
  background-color: royalblue;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.team-member.me {
  background-color: blue;
}

.team-member.selected {
  border: 2px solid black;
}

.team-member.no-role {
  background-color: lightblue;
}
